<div class="conatiner">
    <!-- START STEPS TWO -->
    <div class="steps text-center">
        <div class="first-steps">
          <div class="d-flex text-blue font-weight-light">
            <span class="step-arrow">>></span>
            <span class="step-info">Ma recherche</span>
          </div>
          <div class="d-flex text-blue font-weight-light">
            <span class="step-arrow">>></span>
            <span class="step-info">Mon voyage</span>
          </div>
        </div>
        <div class="last-steps">
          <div class="d-flex text-red font-weight-bold">
            <span class="step-arrow">>></span>
            <span class="step-info">Mes coordonnées</span>
          </div>
          <div class="d-flex font-weight-light">
            <span class="text-muted step-arrow">>></span>
            <span class="text-muted step-info">Ma confirmation</span>
          </div>
        </div>
      </div>
    <div class="blank"></div>
    <!-- END STEPS TWO -->
  </div>
  